<div class="api-container">
    <div class="api-cards-wrapper">
        <div class="page-title">
            <span class="title">Web Projects</span>
        </div>
        <button (click)="goToProject('weather-app')">Click me</button>
        <mat-card class="loading-animation-card api-card">
            <mat-card-title class="loading"> 
                <span class="loading-animation-title">Loading Animation</span>
            </mat-card-title>
            <mat-card-content>
                <app-loading></app-loading>
            </mat-card-content>
        </mat-card>
        <mat-card class="weather-card api-card" *ngIf="loadedWeather else loading">
            <mat-card-title *ngIf="!errorWeather">
                <span class="weather-city">{{weather.city}}</span>
            </mat-card-title>
            <mat-card-title *ngIf="errorWeather">
                <span class="weather-city">Failed getting weather</span>
            </mat-card-title>
            <mat-card-content *ngIf="!errorWeather">
                <span class="weather-temp">{{weather.temp}}<sup>°F</sup></span>
                <img height="75px" width="75px" src="{{weather.icon}}"/>
            </mat-card-content>
            <mat-card-footer *ngIf="!errorWeather">
                <span class="weather-type">{{weather.type}}</span>
            </mat-card-footer>
        </mat-card>
        <mat-card class="iss-card api-card" *ngIf="loadedISS else loading">
            <mat-card-title>
                <span class="title">ISS Location</span> 
                <mat-icon (click)="getISSLocation()">refresh</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div id="map"></div>
            </mat-card-content>
            <mat-card-footer>
                <span>Lat: {{issLatLng[0]}} | Lng: {{issLatLng[1]}} | Epoch Time: {{issTimestamp}}</span>
            </mat-card-footer>

        </mat-card>
    </div>
</div>

<ng-template #loading>
    <mat-card class="weather-card api-card">
        <mat-card-content class="loading">
            <app-loading [color]="'#FFF'"></app-loading>
        </mat-card-content>
    </mat-card>
</ng-template>
