<div class="home-container">
    <div class="home-information">
        <div class="home-information-welcome">
            <span i18n>Hello! I'm Rayven!</span>
        </div>
        <div class="home-information-text not-title">
            <span>
                Here's a little about me: <br/>
                I am currently enrolled in Texas Tech University as a Junior in Computer Science.
                 I'm aspiring to be a software engineer, and work in full stack web development, machine learning,
                 and neural networks. I hope to create products that better the 
                 lives of all, and create various open source software for all to use.
            </span>
        </div>
        <div class="home-information-picture not-title">
            <img src="assets/img/home/picture1.jpg"/>
        </div>
    </div>
    <div class="programming-languages not-title">
        <div class="languages-top">
            <span class="languages-title">Languages</span>
            <span class="toggle-all-values" *ngIf="!isMobile">
                <mat-slide-toggle color='primary' matTooltip="Show all competance values" [checked]='false' [matTooltipPosition]="'above'" (toggleChange)="showAllLanguages = !showAllLanguages"></mat-slide-toggle>
            </span>

        </div>
        <mat-card class="language-card"*ngFor="let lang of languages" (mouseenter)="languageInFocus = lang" (mouseleave)="languageInFocus = null">
            <mat-card-title>{{lang.name}}</mat-card-title>
            <mat-card-content>
                <img src={{lang.source}} />
            </mat-card-content>
            <mat-card-footer>
                <mat-slider disabled [min]='-.1' [max]='10' [thumbLabel]='false' [value]="(languageInFocus === lang) || showAllLanguages ? lang.competance : 0"></mat-slider>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
